<ion-header>
  <!-- <ion-toolbar>
    <ion-title name="toolbar">diagnostico</ion-title>
  </ion-toolbar> -->

  <app-toolbar-ccr></app-toolbar-ccr>
  <ion-back-button color="red"></ion-back-button>

</ion-header>

<app-bino></app-bino>

<ion-content color="background-main">
  <ion-card>
    <ion-card-title style="text-align: center; font-style: inherit; margin-top: 5px;">Como você está?</ion-card-title>
    <ion-card-content>
      <div style="text-align: center;">Você está com dor de cabeça?</div>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="confirm-btn" margin-left="50px" style="margin: 10px;">Sim</ion-button>
  <ion-button expand="block" color="negative-btn" margin-left="50px" style="margin: 10px;">Não</ion-button>
</ion-content>