<ion-header>
  <app-toolbar-ccr></app-toolbar-ccr>
</ion-header>

<ion-label>
  Toque no Bino e diga: "Rastreamento"!
</ion-label>

<app-bino ion-button (click)="startListening()"></app-bino>



<div style="margin-left: auto; margin-right: auto">
  <ion-input style="align-self: center; margin-left: auto; margin-right: auto;"
    placeholder="Digite algo ..." type="text" [(ngModel)]="ttsText">
  </ion-input>
  <div style="">
    <button
    style="width: 100%; height: 30px; border-radius: 100px ;"
    (click)="TestTTS()" expand="full" [style.background-color]="bgcolor">
    Ouça
  </button>
  </div>
  
</div>


<app-grid-home></app-grid-home>