<div class="grid">

      <app-grid-home-content link="/questionario" text="SAÚDE" image="assets/grid-home-icons/heartbeat-solid.png">
      </app-grid-home-content>

      <app-grid-home-content link="/diagnostico" text="AGENDAR" image="assets/grid-home-icons/calendar-alt-regular.png">
      </app-grid-home-content>

      <app-grid-home-content link="/geolocation" text="LOCALIZAÇÃO" image="assets/grid-home-icons/map-marked-alt-solid.png">
      </app-grid-home-content>

      <app-grid-home-content link="/dicas" text="DICAS" image="assets/grid-home-icons/comment-medical-solid.png">
      </app-grid-home-content>

</div>