<ion-header>
  <ion-toolbar>
    <ion-title>Geolocation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item><ion-label >Latitude: {{Latitude}}</ion-label></ion-item>
  <ion-item><ion-label >Longitude: {{Longitude}}</ion-label></ion-item>
  <ion-item><ion-label >Accuracy: {{Accuracy}}</ion-label></ion-item>
  <ion-item><ion-label >AltitudeAccuracy: {{AltitudeAccuracy}}</ion-label></ion-item>
  <ion-item><ion-label >Altitude: {{Altitude}}</ion-label></ion-item>
  <ion-item><ion-label >Speed: {{Speed}}</ion-label></ion-item>
  <ion-item><ion-label >Heading: {{Heading}}</ion-label></ion-item>
</ion-content>
