<div class="grid">

      <app-grid-home-content link="/diagnostico" text="SAÚDE" image="assets/grid-home-icons/heartbeat-solid.png"></app-grid-home-content>

      <app-grid-home-content text="ALERTAS" image="assets/grid-home-icons/exclamation-triangle-solid.png">
      </app-grid-home-content>

      <app-grid-home-content text="ROTAS" image="assets/grid-home-icons/map-marked-alt-solid.png">
      </app-grid-home-content>

      <app-grid-home-content text="CLIMA" image="assets/grid-home-icons/cloud-sun-solid.png"></app-grid-home-content>

</div>