<ion-toolbar color="main">
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false" color="red"></ion-menu-button>  
  </ion-buttons>

  <!-- <div style="display: flex;"  style="display: flex; height: 50px; width: 50px;">
  
   </div> -->


<!-- <div style="display: flex;" > -->
  <div>
    <ion-img src="assets/ccr_logo.png" style=" height: 40px; width: 40px; margin-left: 18%;" ></ion-img>
  </div>
  <div>
    <ion-title style=" font-style: italic; align-content: center; font-size: medium;  margin-bottom: 2%;; margin-top: -25px; margin-left: 26%;" color="title-bino" img="./drawable/ccr_logo.png">CARGA PESADA</ion-title>

  </div>
<!-- </div> -->


</ion-toolbar>
