:host {
    justify-content: space-between ;
}


app-bino {
    margin-top: 10%;
    
    width: 50%;
    //height: 50%;

    margin-left: auto;
    margin-right: auto;
}


app-grid-home {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;

}

