<ion-header>
  <!-- <ion-toolbar>
    <ion-title name="toolbar">diagnostico</ion-title>
  </ion-toolbar> -->

  <app-toolbar-ccr></app-toolbar-ccr>
  <ion-back-button color="red"></ion-back-button>


</ion-header>

<ion-content color="background-main">
  <app-bino></app-bino>
  

    <ion-card>
      <ion-card-title style="text-align: center; font-style: inherit; margin-top: 5px;">Diagnóstico</ion-card-title>
      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
    
  <ion-button link="/dicas" expand="block" color="red" margin-left="50px" style="margin: 10px; ">Continuar</ion-button>





</ion-content>
